bin/
obj/
libs/
third_party/gtest-1.7.0/
third_party/eigen-eigen-1306d75b4a21/
third_party/png++-0.2.5/
make/*.o
make/*.a
make/*.png
make/
xform_halide/*.o
xform_halide/*.out
xform_halide/*.a
xform_halide/halide_*.h
.metadata/
.DS_Store
images/*.png
images/*.jpg
apps/recipe/*.o
apps/recipe/*.png
apps/recipe/*.meta
apps/recipe/extract_recipe
Plasma/jni/halide_*
Plasma/jni/*.out
UploadToServer/jni/halide_*
UploadToServer/jni/*.out
tags
*.dSYM
*.o
